body {
  font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

p {
  font-size: 15px;
}

h1, h2, h3  {
    font-family: 'Bodoni Moda', serif;
}

img{
  max-width: 100%;
}

.hero {
  background-image: url(../../assets/images/happy-4339527_1920.png);
  text-align: center;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  .heroCardDiv{
   display: flex;
  justify-content: center;
  gap: 20px;  
}

  .heroCD {
    flex: 1; 
    min-height: 200px;
    max-width: 200px;
    padding: 20px;
    background-color: #fff;
    // margin: 15px auto;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(50, 56, 81, .1), 0 6px 22px 0 rgba(68, 76, 108, .12), inset 0 -3px 2.5px 0 rgba(69, 78, 114, .03);
    border-radius: 10px;

    img {
      width:70px;
    }
p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

  }
}

.smartLearing {
  padding: 50px 0;


}

.schoolTuition {
   background-color: rgb(255, 245, 245);
   padding: 50px 0;
}

.competitiveExam {
 padding: 50px 0;
}

.onlineTest {
   background-color: rgb(255, 245, 245);
   padding: 50px 0;
}

.whyChooseUs {
padding: 50px 0;
}

#footer {
  background: linear-gradient(180deg, rgb(60, 105, 160), rgb(35, 75, 130));
  color: #ffffff;
}

.cardDiv {
  background-color: rgb(255, 245, 245);
 padding: 20px;
 border-radius: 10px;
     box-shadow: 0 8px 24px rgb(10 41 65 / 72%);


h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
p {
  font-size: 16px;
  font-weight: 500;
}

}/*# sourceMappingURL=main.css.map */

.cardDivWh {
  background-color: #fff;
  padding: 20px;
 border-radius: 10px;
     box-shadow: 0 8px 24px rgb(10 41 65 / 72%);
  h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
p {
  font-size: 16px;
  font-weight: 500;
}
}


.tuitionPrimary {
  padding: 50px 0;
  h1{
    font-size: 35px;
    margin:0 0 20px;
    span{
      
    }
  }

  p{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 1;
  }
}

.competitiveExam {
  h1{
    text-align: center;
    font-size: 35px;
    span{
display: block;
font-size: 25px;
    }
  }
  p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}


